{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} {{ 'register.title'|trans }}{% endblock %}

{% block header_title %}
        <h1>{{ 'register.header.title'|trans }}</h1>
        <p>{{ 'register.header.subtitle'|trans }}</p>
{% endblock %}

{% block content %}
        <div class="col-md-3"></div>
        <!-- begin col-6 -->
        <div class="col-md-6">
        {% include 'default/Registration/register_content.html.twig' %}
        </div>
        <!-- end col-6 -->
        <div class="col-md-3"></div>
{% endblock %}